.logo {
  height: 32px;
  margin: 8px 16px;
  background-color: white;
  .logo-dso {
    width: 16.1px;
    height: 17.5px;
    color: #a9aeba;
  }
}
.side-nav {
  padding: 0;
  .logo-dot {
    color: #fad455;;
    &:hover {
      color: #fad455;
    }
  }
}

.header {
  padding-left: 0;
  height: 48px;
}

.trigger {
  width: 16px;
  height: 48px;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fad455;
  line-height: 48px;

  .trigger-icon {
    color: white;
  }
}

.trigger:hover {
  cursor: pointer;
}
