<div class="layout">
  <nz-layout class="side-nav">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo">
        <span class="logo-dso">DSO</span>
        <span class="logo-management" *ngIf="!isCollapsed">Management</span>
      </div>
      <ul nz-menu nzTheme=light nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item *ngFor="let item of routers">
          <a [routerLink]="item.path">
            <span class="logo-dot">•</span>
            {{ isCollapsed ? item.collapsedTitle : item.title }}</a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="right-container">
      <nz-header class="header">
        <div class="left-container">
          <div class="trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger-icon" nz-icon [nzType]="isCollapsed? 'right' : 'left'" nzTheme="outline"></i>
          </div>
            <nz-input-group nzPrefixIcon="search" #search>
              <label>
                <input #inputElement type="text"
                       nz-input
                       placeholder="Search by Account/Opportunity/Project code/MU">
              </label>
            </nz-input-group>
        </div>
        <div class="login-container">
          <i nz-icon nzType="user" nzTheme="outline" class="login"></i>
        </div>

      </nz-header>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>
